@import 'modules/common',
'modules/header',
'modules/mixins',
'modules/button',
'modules/burger',
'modules/range',
'modules/select',
'modules/menu',
'modules/nav',
'modules/fonts',
'modules/form',
'modules/footer';

/* critical:start */
/* HOME */
.home {
  padding: 20rem 0;
  background-image: url("../../dist/images/main-bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @include tablet {
    background-image: url("../../dist/images/main-bg-mobile.webp");

    @include mobile {
      padding: 10rem 0 5rem;
    }
  }

  @media(-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    background-image: url("../../dist/images/main-bg@2x.webp");

    @include tablet {
      background-image: url("../../dist/images/main-bg-mobile@2x.webp");
    }
  }

  &__container {
    @include container;
  }

  &__title {
    @include reset-title;
    @include font-size-height(4.8rem, 5.6rem);

    margin-bottom: 8rem;
    max-width: 78rem;
    font-weight: 700;
    text-transform: uppercase;

    &--highlighted {
      color: var(--primary-color);
    }

    @include mobile {
      @include font-size-height(2.8rem, 3.2rem);
      margin-bottom: 4rem;
    }
  }

  &__header {
    @include reset-title;
    @include font-size-height(2rem, 2.4rem);

    margin-bottom: 1rem;
    font-weight: 700;
  }

  &__info {
    margin-bottom: 8rem;
    max-width: 54rem;

    @include mobile {
      margin-bottom: 4rem;
    }
  }

  &__list {
    @include reset-list;
  }

  &__item {
    @include font-size-height(2rem, 2.4rem);

    &::before {
      content: '-';
      padding: 1rem;
      margin-right: 1px;
    }

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }

  &__buttons {
    display: flex;
  }

  &__btn {
    min-width: 18rem;

    &:not(:last-of-type) {
      margin-right: 3rem;
    }

    @include tablet {
      & {
        min-width: calc((100% - 3rem) / 2);
      }
    }
  }


}

/* critical:end */

/* ORDER */
.order {
  position: relative;
  padding: 12rem 0 15rem;
  background-color: var(--main-color);
  background-image: url("../../dist/images/order-mask.webp");
  background-size: cover;
  background-repeat: no-repeat;

  @include tablet {
    background-image: url("../../dist/images/order-mask-mobile.webp");

    @include mobile {
      padding: 5rem 0;
    }
  }

  @media(-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    background-image: url("../../dist/images/order-mask@2x.webp");

    @include tablet {
      background-image: url("../../dist/images/order-mask-mobile@2x.webp");
    }
  }

  &__container {
    @include container;
  }

  &__title {
    @include reset-title;
    @include font-size-height(3.6rem, 4.2rem);

    margin-bottom: 3rem;
    text-transform: uppercase;
    text-align: center;
    color: var(--secondary-color);

    &--highlighted {
      color: var(--primary-color);
    }

    @include mobile {
      @include font-size-height(2.2rem, 2.4rem);
    }
  }

  &__description {
    @include reset-description;
    @include font-size-height(1.8rem, 2.2rem);

    margin-bottom: 8rem;
    text-align: center;
    color: var(--text-color);

    @include mobile {
      @include font-size-height(1.4rem, 1.6rem);

      margin-bottom: 4rem;
    }
  }


  &__list {
    @include reset-list;
    position: relative;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 3rem;
    margin-bottom: 8rem;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);

      @include mobile {
        margin-bottom: 4rem;
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__circle {
    @include size(10rem, 10rem);

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    background: var(--primary-color);
    border: 5px solid var(--border-secondary-color);
    border-radius: 100%;

    @include mobile {
      @include size(5rem, 5rem);

      margin-bottom: 1rem;
      background: var(--primary-color);
      border: 2px solid var(--border-secondary-color);
    }
  }

  &__icon {
    @include size(5.5rem, 5.5rem);

    @include mobile {
      @include size(2rem, 2rem);
    }
  }

  &__text {
    @include reset-description;
    @include font-size-height(1.6rem, 2rem);

    color: var(--secondary-color);
    text-align: center;

    @include mobile {
      @include font-size-height(1.4rem, 1.6rem);
    }
  }

  @keyframes wave {
    100% {
      opacity: 0;
    }
  }

  &__dot {
    @include size(6px, 11rem);

    position: absolute;
    left: calc(100% + 2rem);
    display: block;
    $colors: var(--colors-animation);
    $opacity: 1, 0.75, 0.5, 0.25;

    animation: wave 1s linear infinite alternate;

    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        opacity: nth($opacity, $i);

        & {
          animation-delay: $i * 0.25s;
        }
      }
    }

    @include tablet {
      display: none;
    }
  }
}
