@import "mixins";

.burger {
  @include size(4rem, 4rem);

  position: relative;
  display: none;

  & > * {
    pointer-events: none;
  }

  &__btn {
    @include size(4rem, 4rem);

    transition: var(--transition-opacity);

    &--close {
      @include visually-hidden;
      pointer-events: auto;
    }
  }

  &--active &__btn--open {
    opacity: 0;
    visibility: hidden;
  }

  &--active &__btn--close {
    opacity: 1;
    visibility: visible;
  }


  @include tablet {
    display: block;

    @include mobile {
      @include size(2rem, 2rem);

      &__btn {
        @include size(2rem, 2rem);
      }
    }
  }
}
