@import 'mixins';

/* critical:start */
html {
  @include desktop {
    @include fluidFontSize(10px, 28px, 1920px, $desktop-max-width);
  };
  @include tablet {
    @include fluidFontSize(10px, 24px, 768px, 1920px);
  };
  @include mobile {
    font-size: calcFluidFontSize(10px, 18px, 320px, $desktop-width);
  };
  box-sizing: border-box;
  scroll-behavior: smooth;
  --scroll-behavior: smooth;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #000000;
  outline: none;
}

button {
  background-color: unset;
  padding: unset;
  border: none;
  outline: none;
}

input {
  border: none;
  padding: unset;
  outline: none;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

:root {
  --main-color: #272733;
  --primary-color: #3E9CDC;
  --secondary-color: #FFFFFF;
  --thirdly-color: #3D4050;
  --border-primary-color: #6F6D7B;
  --border-secondary-color: #286690;
  --text-color: #BBBBBB;
  --transition-color: color .3s ease-in-out;
  --transition-border: border .3s ease-in-out;
  --transition-opacity: opacity .3s ease-in-out;
  --transition-transform: transform .3s ease-in-out;
  --transition-background-color: background-color .3s ease-in-out;
}
/* critical:end */
