@import 'mixins';

.footer {
  position: relative;
  padding: 3rem 0;
  background: var(--thirdly-color);

  @include mobile {
    padding: 1.5rem 0;
  }

  &__container {
    @include container;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet {
      flex-wrap: wrap;
      flex-direction: column-reverse;
    }
  }

  &__copyright {
    font-size: 1.3rem;
    line-height: 1.6rem;
    color: var(--secondary-color);

    @include tablet {
      text-align: center;
    }
  }

  &__list {
    @include reset-list;

    display: flex;

    &--line {
      padding: 0 2rem;
      border-left: 1px solid var(--border---thirdly-color);
      border-right: 1px solid var(--border---thirdly-color);

      @media (max-width: 1200px) {
        border-left: none;
        border-right: none;

        @include tablet {
          padding: 0;
        }
      }
    }

    @include tablet {
      width: 100%;
      justify-content: space-between;
      margin-bottom: 2rem;
    }
  }

  &__item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: 3.8rem;

      @include tablet {
        margin-right: 1.5rem;
      }
    }
  }

  &__icon {
    @include size(2rem, 2rem);

    margin-right: 1rem;
    color: var(--primary-color);
  }

  &__name {
    @include font-size-height(1.3rem, 1.6rem);

    color: var(--secondary-color);
  }

  &__link {
    @include font-size-height(1.3rem, 1.6rem);

    color: var(--secondary-color);
    transition: var(--transition-color);
  }

  @include desktop {
    &__link:hover {
      color: var(--primary-color);
    }
    &__link:active {
      color: var(--secondary-color);
    }
    &__link:focus-visible {
      color: var(--primary-color);
    }
  }
}
