@import 'mixins';

.form {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: 1024px) {
    grid-auto-flow: dense;
    grid-template-columns: repeat(2, 1fr);

    @include mobile {
      grid-template-columns: 1fr;
      grid-gap: 3rem 0;
    }
  }

  &__label {
    position: relative;
    display: block;
    height: 4.8rem;
    outline: none;

    &--file {
      padding: 1rem;
      border: 1px solid var(--primary-color);
    }

    &--long {
      grid-column: 1 / 3;

      @include mobile {
        grid-column: 1;
      }
    }
  }

  &__inp {
    width: 100%;
    height: 100%;
    border: 1px solid var(--secondary-color);
    background: rgba(255, 255, 255, 0.85);
    font-size: 1.8rem;
    line-height: 2.2rem;
    border-radius: 3px;
    transition: var(--transition-background-color);

    @include desktop {
      &:hover {
        background: var(--primary-color);
      }
      &:active {
        background: var(--secondary-color);
      }
      &:focus-visible {
        background: var(--primary-color);
      }
    }

    &:not([type='range']) {
      padding: 1.2rem 1rem;
    }

    &[type='range'] {
      position: absolute;
      pointer-events: none;
      opacity: 0;
      height: fit-content;
      max-width: 100%;
      z-index: -1;
    }

    &::placeholder {
      display: flex;
      align-items: center;
      font-size: 1.8rem;
      line-height: 2.2rem;
      color: var(--main-color);
    }

    &[type='file'] {
      position: absolute;
      display: none;
      top: 0;
      opacity: 0;
      visibility: hidden;
      z-index: -1;
    }
  }

  &__icon {
    margin-right: 1rem;
    height: 2rem;
    width: 2rem;
  }

  &__name {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    line-height: 1.9;
  }

  &__btn {
    grid-column: 2 / 3;
    font-size: 1.5rem;
    line-height: 1.9rem;
    height: 4.8rem;

    @include tablet {
      grid-column: 1 / 3;

      @include mobile {
        grid-column: 1;
      }
    }
  }
}
