@import "mixins";

.menu {
  display: none;

  @include tablet {
    @include size(100vh, 100%);

    position: fixed;
    display: block;
    transform: translateX(100%);
    background: var(--main-color);
    opacity: 0;
    visibility: hidden;
    z-index: 2;

    &--active {
      opacity: 1;
      transform: translateX(0);
      visibility: visible;
      transition: var(--transition-transform);
    }
  }

  &__list {
    @include reset-list;

    padding: 14rem 1.5rem;

    @include mobile {
      padding: 7rem 1.5rem;
    }
  }

  &__item {
    width: fit-content;

    &:not(:last-child) {
      margin-bottom: 2.5rem;
    }
  }

  &__item:hover &__link:not(&__link--blue) {
    color: var(--primary-color);
  }

  &__item:hover &__link--blue {
    color: var(--secondary-color);
  }

  &__link {
    @include font-size-height(1.3rem, 1.6rem);

    padding: 1.5rem;
    text-transform: uppercase;
    color: var(--secondary-color);
    transition: var(--transition-color);
  }

  &__link--blue {
    color: var(--primary-color);
  }
}
