@import "mixins";
.select-box {
  @include size(100%, 100%);

  position: relative;
  display: block;
  outline: none;

  &__base {
    @include visually-hidden
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 1rem;
    height: 100%;
    background: var(--background---primary-color);
    cursor: pointer;
    border: 1px solid var(--secondary-color);
    border-radius: 3px;
    transition: var(--transition-background-color), var(--transition-color), var(--transition-border);

    & > * {
      pointer-events: none;
    }
  }

  @include desktop {
    &:hover &__top {
      background: var(--background---thirdly-color);
      color: var(--secondary-color);
      border-color: transparent;
    }
    &:active &__top {
      background: var(--background---thirdly-color);
      color: var(--secondary-color);
      border-color: transparent;
    }
    &:focus-visible &__top {
      background: var(--background---thirdly-color);
      color: var(--secondary-color);
      border-color: transparent;
    }
  }

  &__header {
    @include font-size-height(1.8rem, 2.2rem);
    user-select: none;
  }

  &__icon {
    @include size(2rem, 2rem);
    transition: var(--transition-transform);
  }

  &--active &__icon {
    transform: rotate(-180deg);
    color: var(--secondary-color);
  }

  &--active &__top {
    background: var(--background---thirdly-color);
    color: var(--secondary-color);
    border-color: transparent;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &__dropdown {
    @include reset-list;
    @include size(15rem, 100%);

    position: absolute;
    display: block;
    padding: 1rem 3rem;
    top: 100%;
    border: 1px solid var(--thirdly-color);
    overflow-y: scroll;
    background: var(--main-color);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
    transition: var(--transition-opacity);

    &::-webkit-scrollbar {
      width: 7px;
    }

    &::-webkit-scrollbar-track {
      background: var(--background---thirdly-color);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--primary-color);
      border-radius: 3px;
    }

    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) var(--background---thirdly-color);
  }

  &--active &__dropdown {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  &__item {
    @include font-size-height(1.8rem, 2.2rem);

    position: relative;
    display: block;
    color: var(--secondary-color);
    cursor: pointer;
    user-select: none;
    transition: var(--transition-color);

    &--active::before {
      content: '\2713';
      position: absolute;
      top: 0;
      left: -2rem;
    }

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    &:hover {
      color: var(--primary-color);
    }
  }
}
